<table class="table mt-5 text-center table-bordered border-secundary">
    <thead >
      <tr>
        <th scope="col">Nombre (Cargo)</th>
        <th scope="col">Edad</th>
        <th scope="col">Fecha de contratacion</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }} <br> {{ employee.position }} </td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.dateofBirthday }}</td>
        <td>
            <app-btn-action 
              type="see" 
              route="see" 
              [paramRoute]="employee.id"
              url="../../../../assets/images/eyeIcon.png"
            ></app-btn-action>
            <app-btn-action 
              type="edit"
              route="edit"
              [paramRoute]="employee.id"
              url="../../../../assets/images/editIcon.png"
            ></app-btn-action>
            <app-btn-action 
              type="delete"
              url="../../../../assets/images/deleteIcon.png"
              [paramRoute]="employee.id"
            ></app-btn-action>
        </td>
      </tr>
    </tbody>
  </table>